{% extends "base.html" %}
{% block content_title %}
<h1>Where Ponies come to die - the Coral of Death</h1>
<h2>Global Stats</h2>
{% endblock %}>
{% block content %} 
    {% load ut %}
    {% get_players as killers victims %}
    <table cellpadding="2" cellspacing="1" id="global-stats" class="tablesorter">
    <thead>
    <tr>
    <th class="header"><strong>Victims</strong></th>
    {% for killer in killers %}
        <th>{{ killer.username }}</th>
    {% endfor %}
    <th><strong>Total Deaths</strongh></th>
    <th><strong>Kill / Death Ratio</strong></th>
    </tr>
    </thead>
    <tbody>
    {% for victim in victims %}
        <tr class="{% cycle "even" "odd" %}">
        <td><a href="ut/players/{{ victim.username }}/">{{ victim.username }}</a></td>
        {% for killer in killers %}
        <td>{% get_kills killer victim %}</td>
        {% endfor %}
        <td><strong>{% get_total_deaths victim %}</strong></td>
        <td><strong>{% get_kill_ratio victim %}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
    <td><strong>Total Kills<strong></td>
    {% for killer in killers %}
        <td><strong>{% get_total_kills killer %}</strong></td>
    {% endfor %}
    <td>&nbsp;</td>
    <td colspan="2">&nbsp;</td>
    </tfoot>
    </table>
    <hr />
    {% for game in games %}
        {% get_players game as killers victims %}
        <table cellpadding="2" cellspacing="1" class="tablesorter">
        <thead>
        <tr>
        <th class="header"><strong>Victims</strong></th>
        {% for killer in killers %}
            <th class="header">{{ killer.username }}</th>
        {% endfor %}
        <th class="header"><strong>Total Deaths</strong></th>
        <th class="header"><strong>Kill / Death Ratio</strong></th>
        </tr>
        </thead>
        <tbody>
        {% for victim in victims %}
            <tr class="{% cycle "even" "odd" %}">
            <td>{{ victim.username }}</td>
            {% for killer in killers %}
            <td>{% get_kills killer victim game %}</td>
            {% endfor %}
            <td><strong>{% get_total_deaths victim game %}</strong></td>
            <td><strong>{% get_kill_ratio victim game %}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
        <td><strong>Total Kills<strong></td>
        {% for killer in killers %}
            <td><strong>{% get_total_kills killer game %}</strong></td>
        {% endfor %}
        <td>&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        </tfoot>
        </table>
    {% endfor %}
{% endblock %}
